CHAIN=hydration
NODE_ENV=development
DB_NAME=liquidity_pools_db
DB_PORT=23798

GQL_PORT=8080

TS_REDIS_HOST=localhost
TS_REDIS_PORT=6379
TS_REDIS_PASS=password
TS_REDIS_KEY_SPACE_ID=5

PROCESS_FROM_BLOCK=12322700
PROCESS_TO_BLOCK=12322800

RPC_URL=wss://node-owl-3.owl.shadow-senate.com
RPC_URL_HTTPS=https://node-owl-3.owl.shadow-senate.com


ENABLE_RPC_HTTPS_URLS_POOL=false
ENABLE_RPC_POOL_DEBUG_LOGS=false

ASSET_HUB_RPC_URL=wss://statemint.public.curie.radiumblock.co/ws

NODE_OPTIONS=--max-old-space-size=8048

GATEWAY_HYDRATION_HTTPS=https://v2.archive.subsquid.io/network/hydradx
# To get GATEWAY_HYDRATION_API_KEY value go to https://portal.sqd.dev/app
GATEWAY_HYDRATION_API_KEY=
IGNORE_ARCHIVE_DATA_SOURCE=false

HISTORICAL_DATA_PROCESSING_SUB_BATCH_SIZE=300

ASSET_SPOT_PRICE_ASSET_OUT_IDS=10
ASSET_PRICE_BASE_ASSET_ID=10

ASYNC_OPERATIONS_CONCURRENCY_COMMON=10
EVM_CONTRACT_CALL_CONCURRENCY=15
RUNTIME_API_CALLS_CONCURRENCY=10

PERSIST_HIST_DATA_ONLY_ON_CHANGE=true
USE_XYKPOOLS_DATA_IN_TRADE_ROUTER=false

HLOG_CONSOLE_LOGS_VERBOSE=false
HLOG_DB_FLUSH_ENABLED=true

INDEXER_ID=local_1
ALL_IN_ONE_PROCESSOR_MODE=true

AAVE_MONEY_MARKET_INSTANCES=[{"marketId":"main","treasuryAddress":"0xe52567ff06acd6cbe7ba94dc777a3126e180b6d9","poolDataProviderAddress":"0x112b087b60C1a166130d59266363C45F8aa99db0","poolAddressProviderAddress":"0xf3Ba4D1b50f78301BDD7EAEa9B67822A15FCA691","poolImplementationProxyAddress":"0x1b02e051683b5cfac5929c25e84adb26ecf87b38"}]

UNIFIED_EVENTS_GENESIS_SPEC_VERSION=282

SUBSCAN_PRO_API_SECRET=
SUBSCAN_PROXY_API_CORS_ALLOWED_SUFFIXES=hydration.net::-hydra-app.netlify.app
SUBSCAN_PROXY_API_CORS_ALLOW_LOCALHOST=true

ENSURE_PREFETCH_PERSISTENT_DATA_FOR_SPOT_PRICE=false

BALANCES_LOG_ENABLED=true
ACCOUNT_BALANCES_REAGGREGATION_ENABLED=false
ACCOUNT_BALANCES_REAGGREGATION_BATCH_SIZE=10
ACCOUNT_BALANCES_REAGGREGATION_MIN_PERIOD_BLOCKS=7000
ENABLE_ALL_ACCOUNT_BALANCES_INIT=false
ENABLE_CACHED_ROUTES_FOR_PRICE_CALCULATION=false

XYKPOOL_HIST_DATA_TRACKING_BATCH_SIZE_PER_BLOCK=3
USE_EVENTS_DRIVEN_BALANCE_TRACKING=true
ENABLE_PERSISTENT_ACCOUNT_ASSET_BALANCES_NORMALISED=true

USE_STORAGE_DICTIONARY=true
STORAGE_DICTIONARY_LBPPOOL_URL=https://storage-dict-lbp-hist-data-v2.orca.hydration.cloud/graphql
STORAGE_DICTIONARY_XYKPOOL_URL=https://storage-dict-xyk-hist-data-v2.orca.hydration.cloud/graphql
STORAGE_DICTIONARY_OMNIPOOL_URL=https://storage-dict-omnipool-hist-data-v2.orca.hydration.cloud/graphql
STORAGE_DICTIONARY_STABLEPOOL_URL=https://storage-dict-stableswap-hist-data-v2.orca.hydration.cloud/graphql
STORAGE_DICTIONARY_GEN_HIST_DATA_URL=https://storage-dict-generic-hist-data-v2.orca.hydration.cloud/graphql
STORAGE_DICTIONARY_ACCOUNT_HIST_DATA_URL=https://storage-dict-accounts-hist-data-v2.orca.hydration.cloud/graphql



# Uncommenting this line enables the debug mode
# More info at https://docs.subsquid.io/basics/logging/
#SQD_DEBUG=*

